<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ConfigurationLibrary
	xmlns="http://collonville.thomas.fr/tc-osgi-bundle-utils/config-file-schema">
	<configFiles>
		<defaultValue>org.springframework.osgi.extender</defaultValue>
		<valueType>java.lang.String</valueType>
		<fieldName>orgSpringFrameworkOsgiExtenderDependencyBundleName</fieldName>
		<className>org.tc.osgi.bundle.spring.module.activator.SpringActivator</className>
	</configFiles>
</ConfigurationLibrary>